.btn-primary {
  background: var(--primary-color);
  height: 49px;
  color: var(--base-color);
  font: var(--button);
  padding: 13px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background: unset;
  height: 49px;
  color: var(--primary-color);
  font: var(--button);
  padding: 13px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.btn-icon {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 10px;
  background: var(--base-color);
  cursor: pointer;
}

.btn-icon img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.descarga {
  width: 100%;
}