  .hero-nav {
    display: none;
  }

 .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.header-content button {
  width: 153px;
}

.header-logo_container {
  width: 70px;
  margin: 21px 16px 21px 16px;
} 

.header-logo_container img {
  width: 100%;
}

.header-nav {
  display: none;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  font: var(--button);
}

.header-nav a {
  text-transform: uppercase;
}

.link {
  color: var(--base-color);
}