
 .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.header-content button {
  width: 153px;
}

.header-logo_container {
  width: 70px;
  margin: 21px 16px 21px 16px;
}

.header-logo_container img {
  width: 100%;
}
